<!DOCTYPE html>
<html>
  <head>
    <title>Tag, You're It!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'index' %>
    <%= stylesheet_link_tag('https://fonts.googleapis.com/css2?family=Passion+One&display=swap') %>
    <%= favicon_link_tag('search.svg') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
